.deploy-keys
.DS_Store
.env
.env.*
!.env.example
!.env.docker.example
.git
.github
.next
.pnpm-store
audits
coverage
data/*.json
docs/*.zip
node_modules
npm-debug.log*
protectonlycreators
protectourbrand
scripts/*.tgz
tmp
tsconfig.tsbuildinfo
webcammodelprotector
